<p>book-list works!</p>

<app-nevigation></app-nevigation>

<!--
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
-->


<table class="table table-striped" border="1">
  <thead>
    <tr >
      <th scope="col">Name</th>
      <th scope="col">Year</th>
      <th scope="col">Availability</th>
      
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let book of books">
      <td>{{book.name}}</td>
      <td>{{book.year}}</td>
      <td *ngIf="book.availablity"> available </td>
      <td *ngIf="!book.availablity"> borrowed </td>
      <button type="button" (click)="delete(book)">Delete</button>
     
    </tr>

  </tbody>
</table>
